{{ partial "resource.html" (dict "context" . "type" "js" "filename" "js/load-mermaid.js") }}


{{ $anubis2_colorTheme := "light" }}
{{ if isset site.Params "colortheme"}}
  {{ $anubis2_colorTheme = site.Params.colortheme | lower }}
  {{ warnf "Anubis2: The parameter 'params.colorTheme' is deprecated. Use 'params.anubis2.colorTheme' instead." }}
{{ else if isset site.Params.Anubis2 "colortheme" }}
  {{ $anubis2_colorTheme = site.Params.anubis2.colorTheme | lower }}
{{ end }}
<!-- check if colorTheme is "auto", "light", "dark" -->
{{ if or (eq $anubis2_colorTheme "auto") (eq $anubis2_colorTheme "light") (eq $anubis2_colorTheme "dark") }}
{{ else }}
  {{ errorf "Anubis2: The parameter 'params.anubis2.colorTheme' must be one of 'auto', 'light', or 'dark'. You set it to '%s'" $anubis2_colorTheme }}
{{ end }}

<script type="module">
    function detectCurrentScheme3() {
        const defaultTheme = "{{ $anubis2_colorTheme }}";
        if (localStorage !== null && localStorage.getItem("user-color-scheme")) {
            return localStorage.getItem("user-color-scheme");
        }
        if (defaultTheme === "dark" || defaultTheme === "light") {
            return defaultTheme;
        }
        return window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light";
    }

    import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.esm.min.mjs';
    window.mermaid = mermaid;
    window.initMermaid()
    document.body.dispatchEvent(new CustomEvent(detectCurrentScheme3() + "-theme-set"));
</script>
